/* HERO */

.privacy-hero{

    padding:100px 0;

    text-align:center;

    background:
    linear-gradient(
        135deg,
        #EAFBF8,
        #FFFFFF
    );
}

.privacy-badge{

    display:inline-block;

    padding:8px 18px;

    border-radius:999px;

    background:#0E9F8D;

    color:#fff;

    font-size:12px;

    font-weight:700;
}

.privacy-hero h1{

    margin-top:20px;

    font-size:54px;

    font-weight:800;
}

.privacy-hero p{

    max-width:850px;

    margin:20px auto 0;

    color:#6B7280;

    line-height:1.9;
}


/* INTRO */

.privacy-intro{

    padding:80px 0 50px;
}

.privacy-card{

    background:#fff;

    padding:50px;

    border-radius:30px;

    text-align:center;

    box-shadow:
    0 10px 30px rgba(0,0,0,.05);
}

.privacy-card i{

    font-size:60px;

    color:#0E9F8D;

    margin-bottom:20px;
}

.privacy-card p{

    max-width:850px;

    margin:auto;

    line-height:1.9;

    color:#6B7280;
}


/* CONTENT */

.privacy-section{

    padding-bottom:80px;
}

.privacy-content{

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:24px;
}

.privacy-item{

    background:#fff;

    padding:30px;

    border-radius:24px;

    box-shadow:
    0 8px 20px rgba(0,0,0,.05);
}

.privacy-item h3{

    font-size:22px;

    margin-bottom:15px;

    color:#0E9F8D;
}

.privacy-item h3 i{

    margin-right:10px;
}

.privacy-item p{

    color:#6B7280;

    line-height:1.9;
}


/* CTA */

.privacy-contact{

    padding-bottom:100px;
}

.privacy-contact-box{

    background:
    linear-gradient(
        135deg,
        #0E9F8D,
        #18B8A3
    );

    color:#fff;

    text-align:center;

    padding:60px;

    border-radius:30px;
}

.privacy-contact-box p{

    max-width:850px;

    margin:15px auto 25px;

    line-height:1.9;
}

.btn-privacy{

    display:inline-block;

    padding:14px 28px;

    border-radius:999px;

    background:#fff;

    color:#0E9F8D;

    text-decoration:none;

    font-weight:700;
}


/* MOBILE */

@media(max-width:768px){

    .privacy-hero{

        padding:70px 0;
    }

    .privacy-hero h1{

        font-size:34px;
    }

    .privacy-content{

        grid-template-columns:1fr;
    }

    .privacy-card,
    .privacy-contact-box{

        padding:35px 24px;
    }

}
